html {
    background-color: var(--bgColor);
}

body {
    font-family: var(--font);
    color: var(--darkColor);
    text-size-adjust: 100%;
}

.container {
    width: var(--container-default-width);
    max-width: var(--container-max-width);
    margin: 0 auto;
}



h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
    margin:0.3em;
    font-weight: normal;
}

h2 {
    
    font-size: 24px;
        
    @media (--min-large-screen) {
        font-size: 36px;
        
    }

}

h3 {
    font-size: 20px;
    font-weight: 300;
    position: relative;

    @media (--min-large-screen) {
        font-size: 28px;
        
    }

    &::after {
        background-color: var(--darkColor);
        height: 1px;
        width: 125px;
        content: '';
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.icon {
    fill: var(--mediumColor);
}

a {
    color: var(--darkColor);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

blockquote {
    font-weight: 300;
    font-style: italic;
}

.leaf-path {
    margin-left: -100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (--min-small-screen) {
        margin-left: -80px;
    }

    @media (--min-large-screen) {
        margin: auto;
    }
}

.leaf {
    fill: var(--lightColor);
    top: 20px;

    &__1 {
        margin-top: 40px;
        margin-left: -100px;
    }

    &__2 {
        margin-top: -30px;
        margin-left: 100px;
    }

    &__3 {
        margin-top: 0px;
        margin-left: 150px;
    }

    &__4 {
        margin-top: 50px;
        margin-left: 30px;
    }

    &__5 {
        margin-top: -20px;
        margin-left: 400px;
    }

    &__6 {
        margin-top: 20px;
        margin-left: 460px;
    }

    &__7 {
        margin-top: 50px;
        margin-left: 400px;
    }

    &__8 {
        margin-top: 30px;
        margin-left: 150px;
    }

    &__9 {
        margin-top: 10px;
        margin-left: 245px;
    }
}

/*@for $i from 0 to 350 by 10 {
    .leaf--$(i) { 
        transform-origin: 50% 50%;
        transform: rotate($(i)deg); 
    }
}*/

