:root {
    --bgColor: #ffffff;
    --mainColor: #757a71;
    --lightColor: #bec7b8;
    --mediumColor: #5d6159;
    --darkColor: #383a36;

    --font: 'Open Sans', sans-serif;
    --ctaFont: 'BebasNeue';
    --fontBase: 18px;
    --fontXSmall: 14px;
    --fontSmall: 16px;
    --fontMedium: 24px;
    --fontLarge: 26px;
    --fontXLarge: 36px;

    --container-default-width: 100%;
    --container-max-width: 2000px;



    @custom-media --only-xsmall-screen (width <= 543px);
    @custom-media --only-small-screen (width >= 544px) and (width <= 767px);
    @custom-media --only-medium-screen (width >= 768px) and (width <= 991px);
    @custom-media --only-large-screen (width >= 992px) and (width <= 1199px);
    @custom-media --only-xlarge-screen (width >= 1200px) and (width <= 1699px);
    @custom-media --only-xxlarge-screen (width >= 1700px);


    @custom-media --min-small-screen (min-width: 544px);
    @custom-media --min-medium-screen (min-width: 768px);
    @custom-media --min-large-screen (min-width: 992px);
    @custom-media --min-xlarge-screen (min-width: 1200px);
    @custom-media --min-xxlarge-screen (min-width: 1700px);
    
}