.footer {
    background-color: var(--lightColor);
    min-height: 260px;
    font-size: var(--fontXSmall);

    &__container {
        display: flex;
    }

    &__group {
        flex-grow: 1;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 40px 20px 0px 20px;

        @media (--min-medium-screen) {
            display: block;
        }

    }

    &__item {
        padding: 4px 10px 8px 10px;
    }

    &__social-icons {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

        @media (--min-medium-screen) {
            text-align: left;
        }
    }

    &__social-icon {
        margin-left: 10px;
        margin-right: 10px;
    }

    &__legal {
        margin: 0;
        text-align: center;
        font-size: 12px;
        background-color: var(--lightColor);

        @media (--min-medium-screen) {
            font-size: 14px;
        }

        @media (--min-medium-screen) {
            margin-top: -20px;
            padding: 30px;
        }
    }

    &__link{
        color: var(--mediumColor);
    }
}



.pluralsight, .teamcity {
    
    fill: var(--mediumColor);

    &__container {
        display: none;
        padding: 30px;

        @media (--min-medium-screen) {
            display: block;
        }
    }
}
