.nav {
    &__elements {
        overflow: hidden;
    }

    &__navBar {
        display: flex;
        align-content: flex-start;
        flex-flow: nowrap;
        margin: 0;
        padding: 0px 10px 0px 10px;
        list-style-type: none;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
       /*  border: solid blue 1px;*/
         &::-webkit-scrollbar {
              width: 0px;
              background: transparent;
         }

         @media (min-width: 731px) {
             overflow: hidden;
             flex-flow: wrap;
             justify-content: flex-end;
         }
    }

    &__item {
        flex: 1 0 auto;
        padding: 4px 10px 8px 10px;
        font-size: responsive 18px 36px;
        lower-font-range: 800px;
        upper-font-range: 1240px;
        font-family: var(--ctaFont);
        /*font-size: 20px;*/
        color: var(--mediumColor);
       /* border: solid red 1px;*/
        white-space: nowrap;

        & a {
            color: var(--mediumColor);
            font-weight: normal;
            padding-bottom: 8px;
            text-decoration: none;
            position: relative;
        }

        &.active > a {
             color: var(--darkColor);
         }

        & a:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: var(--lightColor);
              visibility: hidden;
              transform: scaleX(0);
              transition: all 0.3s ease-in-out 0s;

           }

            &.active > a:before {
                 content: "";
                 position: absolute;
                 width: 100%;
                 height: 1px;
                 bottom: 0;
                 left: 0;
                 background-color: var(--lightColor);
                 visibility: visible;
                 transform: scaleX(1);
             }

            & a:hover:before {
                visibility: visible;
                color: var(--darkColor);
                transform: scaleX(1);
            }

            & a:hover {
                  color: var(--darkColor);
                  transform: scaleX(1);
            }

        @media (min-width: 731px) {
            flex: 0 0 auto;
            padding: 4px 15px 8px 15px;
        }

        @media (--min-xlarge-screen) {
            /*font-size: 26px;*/
            padding: 4px 20px 8px 20px;
        }
    }

}

.sidenav {

    display: none;
    margin-bottom: 20px;

    @media (--min-large-screen) {
        margin-top: 30px; 
        display: block;
    }

    & > ul {
        padding: 0px;
        margin: 0px;

        @media (--min-large-screen) {
            padding-left: 50px;
        }
    }

    & > ul > li {
        padding: 0px;
        margin: 0px;
    }

    &__toggle {
        font-size: var(--fontMedium);
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
        @media (--min-large-screen) {
            display: none;
        }
    } 
    
    &__arrow {
        float: right;
        margin-top: 5px;
        fill: var(--mainColor);
    }

     &__item {
        list-style-type: none;
        font-family: var(--ctaFont);
        color: var(--mediumColor);
        font-size: var(--fontXLarge);
        font-weight: normal;
        margin-bottom: 20px;

        & a {
            color: var(--mediumColor);
            padding-bottom: 8px;
            text-decoration: none;
            position: relative;
            font-weight: normal;
        }

        &.active > a:before {
                 content: "";
                 position: absolute;
                 width: 100%;
                 height: 1px;
                 bottom: 0;
                 left: 0;
                 background-color: var(--lightColor);
                 visibility: visible;
             }
     }

     &__subnav {
         display: none;

         @media (--min-large-screen) {
            display: block;
        }
     }

     &__subitem {
        list-style-type: none;
        font-family: var(--font);
        color: var(--mediumColor);
        font-size: 22px;
        line-height: 2em;
        font-weight: normal;

        &:first-child {
            margin-top: 20px;
        }

        & a {
            color: var(--mediumColor);
            padding-bottom: 8px;
            text-decoration: none;
            font-weight: normal;
        }

        &.active > a {
            font-weight: bold;
        }
         
     }
}
/*
.hamburger {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    & span {
        display: block;
        position: absolute;
        height: 2px;
        width: 50%;
        background: var(--mainColor);
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    & span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
    }

    & span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
    }

    & span:nth-child(1) {
        top: 0px;
    }

    & span:nth-child(2) {
        top: 0px;
    }

    & span:nth-child(3) {
        top: 9px;
    }

    & span:nth-child(4) {
        top: 9px;
    }

    & span:nth-child(5) {
        top: 18px;
    }

    & span:nth-child(6) {
        top: 18px;
    }

    &.open span:nth-child(1) {
        transform: rotate(45deg);
    }

    &.open span:nth-child(6) {
        transform: rotate(45deg);
    }

    &.open span:nth-child(2) {
        transform: rotate(-45deg);
    }

    &.open span:nth-child(5) {
        transform: rotate(-45deg);
    }

    &.open span:nth-child(1) {
        left: 5px;
        top: 7px;
    }

    &.open span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
    }

    &.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
    }

    &.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
    }

    &.open span:nth-child(5) {
        left: 5px;
        top: 12px;
    }

    &.open span:nth-child(6) {
        left: calc(50% - 5px);
        top: 12px;
    }
}*/
